---
import { Image } from "astro:assets";

import { Button } from "@components/utils";
import { classNames } from "@utils/functions";

import Leaves from "@assets/images/products/grower/farm-manager-academy/leaves.webp";
import Leaves2 from "@assets/images/products/grower/farm-manager-academy/leaves-2.webp";
import AboutImg from "@assets/images/products/grower/farm-manager-academy/about.webp";
import AboutMobileImg from "@assets/images/products/grower/farm-manager-academy/about-mobile.webp";

import ItemListing from "../ItemListing.astro";
import Images from "../Images.astro";

const qualification = [
  "Must be 18 years and above.",
  "Diploma in Agriculture, Agronomy, or related field.",
  "Minimum of 2 years of experience in farm management, preferably in a commercial farming operation.",
  "Strong understanding of crop production practices, agronomy principles, and agricultural technology.",
  "Proven leadership skills with the ability to effectively manage and motivate a team.",
  "Proficiency in using agricultural software and technology for farm management and reporting.",
  "Applicant must have adequate fluency in English and Twi and other local languages depending on the preferred operational area.",
  "Applicant must be willing to stay and work in various remote areas in Ghana and work flexible hours as needed.",
];

const responsibilities = [
  "Implement Complete Farmer's crop protocols and best practices to maximize crop yields and ensure high-quality produce.",
  "Plan, organize, and supervise all farming operations, including planting, irrigation, fertilization, pest control, and harvesting.",
  "Manage farm resources efficiently, including labour, equipment, and inputs, to optimize productivity and minimize costs.",
  "Monitor crop health and growth, identify any issues or challenges, and implement appropriate solutions in a timely manner.",
  "Maintain accurate records of farm activities, including planting schedules, input usage, crop yields, and financial transactions.",
  "Collaborate with Complete Farmer's agronomic team to provide regular updates and reports on farm performance, challenges, and opportunities.",
  "Train and supervise farm workers to ensure they understand and adhere to standard operating procedures and safety protocols.",
];
---

<div class="py-12 space-y-3 lg:py-14 lg:space-y-10">
  <div class="mx-auto max-w-7xl px-4">
    <div class="mx-auto max-w-4xl text-center">
      <h1
        class="font-bold tracking-tight text-[28px] md:text-[40px] lg:text-5xl leading-[34px] md:leading-[50px] lg:leading-[60px] text-[#004C46]"
      >
        About the Academy
      </h1>
      <p
        class="w-full py-6 px-1 md:px-12 lg:px-0 text-xs md:text-sm lg:text-base text-custom_gray-300 mx-auto"
      >
        The Farm Manager’s academy provides qualified individuals with the
        opportunity to earn an income from overseeing the day-to-day operations
        of farms within Complete Farmer Formal Grower network.
      </p>
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row space-y-20 md:space-y-0 px-4 md:py-8 md:px-12 mx-auto max-w-7xl overflow-hidden md:overflow-visible"
  >
    <div class="md:hidden relative m-auto w-full">
      <Image
        src={AboutMobileImg}
        class="mx-auto w-full object-cover bg-gray-500 z-10"
        alt=""
      />
      <Image
        src={Leaves}
        alt="farmer"
        class="absolute top-8 -right-10 z-[-1]"
      />
    </div>

    <div class="flex flex-col space-y-2 sm:w-1/2">
      <div class="flex flex-col justify-start items-start space-y-4">
        <p
          class="w-full md:w-5/6 text-2xl md:text-[28px] lg:text-[32px] leading-[30px] md:leading-8 lg:leading-10 font-bold text-left text-grower-400"
        >
          Qualifications
        </p>
        <p class="text-base leading-6 w-full text-left text-custom_black-900">
          Applicants will be considered for the farm manager academy based on
          the following criteria:
        </p>
      </div>
      <ul class="list-disc marker:text-grower-500 marker:text-2xl">
        {
          qualification.map((item, index) => (
            <li
              class={classNames(
                index !== qualification.length - 1 ? "border-b" : "",
                "ml-6 py-5 border-gray-200 grow text-base leading-6 text-left text-custom_black-900"
              )}
            >
              {item}
            </li>
          ))
        }
      </ul>

      <Button
        hasArrow
        title="Join the Academy"
        className="get-academy-form h-14 md:!w-[280px] lg:!w-96 text-base md:text-lg lg:text-xl !rounded-full"
      />
    </div>

    <div class="hidden md:flex relative justify-end m-auto w-1/2">
      <Image
        src={AboutImg}
        class="md:w-[278px] md:h-[312px] lg:w-[600px] lg:h-[400px] object-cover bg-gray-500 lg:max-w-[min-content]"
        alt=""
      />

      <Image
        src={Leaves2}
        alt="farmer"
        class="absolute hidden xl:block -top-5 -right-[25%] z-[-1]"
      />

      <Image
        src={Leaves}
        alt="farmer"
        class="absolute xl:hidden top-14 -right-10 z-[-1]"
      />
    </div>
  </div>

  <div
    class="flex flex-col md:flex-row-reverse space-y-20 md:space-y-0 px-4 md:py-8 md:px-12 mx-auto max-w-7xl overflow-hidden md:overflow-visible"
  >
    <div class="md:hidden relative m-auto w-full">
      <Image
        src={AboutMobileImg}
        class="mx-auto w-full object-cover bg-gray-500 z-10"
        alt=""
      />
      <Image
        src={Leaves}
        alt="farmer"
        class="absolute top-8 -left-10 z-[-1]"
      />
    </div>

    <div class="flex flex-col space-y-2 sm:w-1/2">
      <div class="flex flex-col justify-start items-start space-y-4">
        <p
          class="w-full md:w-5/6 text-2xl md:text-[28px] lg:text-[32px] leading-[30px] md:leading-8 lg:leading-10 font-bold text-left text-grower-400"
        >
          Responsibilities
        </p>
        <p class="text-base leading-6 w-full text-left text-custom_black-900">
          The Farmer Manager will be responsible for a range of duties which
          include, but are not limited to, the following:
        </p>
      </div>
      <ul class="list-disc marker:text-grower-500 marker:text-2xl">
        {
          responsibilities.map((item, index) => (
            <li
              class={classNames(
                index !== responsibilities.length - 1 ? "border-b" : "",
                "ml-6 py-5 border-gray-200 grow text-base leading-6 text-left text-custom_black-900"
              )}
            >
              {item}
            </li>
          ))
        }
      </ul>

      <Button
        hasArrow
        title="Join the Academy"
        className="get-academy-form h-14 md:!w-[280px] lg:!w-96 text-base md:text-lg lg:text-xl !rounded-full"
      />
    </div>

    <div class="hidden md:flex relative justify-start m-auto w-1/2">
      <Image
        src={AboutImg}
        class="md:w-[278px] md:h-[312px] lg:w-[600px] lg:h-[400px] object-cover bg-gray-500 lg:max-w-[min-content]"
        alt=""
      />

      <Image
        src={Leaves2}
        alt="farmer"
        class="absolute hidden xl:block -top-5 -left-[25%] z-[-1]"
      />

      <Image
        src={Leaves}
        alt="farmer"
        class="absolute xl:hidden top-14 -left-10 z-[-1]"
      />
    </div>
  </div>
</div>
