---
import { Button } from "@components/utils";
import { Image } from "astro:assets";
interface Props {
  type: string;
  description: string;
  image1: ImageMetadata;
  image2: ImageMetadata;
  image3: ImageMetadata;
  image4: ImageMetadata;
}

const { type, image1, image2, image3, image4, description } = Astro.props;
---

<div
  class="w-full mx-auto relative my-8 sm:my-8 md:my-16 mb-16 sm:mb-16 md:mb-20 overflow-hidden"
>
  <div class="max-w-7xl mx-auto flex">
    <div class="w-full hidden lg:flex h-[750px] overflow-hidden">
      <Image src={image1} alt="Image 1" />
    </div>

    <div
      class="flex flex-col justify-center items-start w-full gap-10 px-8 my-10"
    >
      <p
        class="text-[28px] leading-8 w-[327px] md:text-[40px] md:leading-10 md:w-10/12 lg:text-5xl lg:leading-[60px] lg:w-[554px] font-bold text-left text-grower-400"
      >
        The all-in-one farming solution for {type} farmers
      </p>
      <p
        class="w-[327px] text-base md:w-10/12 lg:text-xl lg:leading-8 text-left text-custom_black-900 lg:w-[554px]"
      >
        {description}
      </p>
      <Button
        id="get-started"
        title="Get Started"
        className="md:!w-fit px-8 py-4 !rounded-full"
      />
    </div>
  </div>
  <div class="flex justify-end xl:pr-10">
    <div
      class="scroll-parallax flex justify-start items-start w-[120vw] lg:w-[90vw] md:mt-10 lg:mt-0 gap-2 md:gap-8"
    >
      <Image
        src={image2}
        alt="Image 2"
        class="h-60 md:h-80 lg:h-96 w-[40vw] lg:w-[40vw] object-cover"
      />
      <Image
        src={image3}
        alt="Image 3"
        class="h-60 md:h-80 lg:h-96 w-[40vw] lg:w-[30vw] object-cover"
      />
      <Image
        src={image4}
        alt="Image 4"
        class="h-60 md:h-80 lg:h-96 w-[40vw] lg:w-[30vw] object-cover"
      />
    </div>
  </div>
</div>

<script type="text/javascript" is:inline>
  window.addEventListener("load", () => {
    const image = document.getElementsByClassName("scroll-parallax");

    new window.simpleParallax(image, {
      delay: 0,
      scale: 3,
      overflow: true,
      orientation: "left",
      transition: "cubic-bezier(0,0,0,1)",
    });
  });

  document.getElementById("get-started")?.addEventListener("click", () => {
    document.getElementById("toggle-modal-get-in-touch").click();
  });
</script>
