---
import { Image } from "astro:assets";

import SignUp from "@assets/images/products/grower/onboarding-flow/signup.png";
import SellAndGetPaid from "@assets/images/products/grower/onboarding-flow/sell-and-get-paid.png";
import FarmAndHarvest from "@assets/images/products/grower/onboarding-flow/farm-and-harvest.png";
import GetMatchedToBuyer from "@assets/images/products/grower/onboarding-flow/get-matched-to-a-buyer.png";
import AddLandAndFarmManager from "@assets/images/products/grower/onboarding-flow/add-land-and-farm-manager.png";

import { ChevronIcon } from "@assets/icons";

const data = [
  {
    id: 1,
    image: SignUp,
    isActive: true,
    title: "Sign up",
    desc: "Get started as a grower by signing up in a few easy steps.",
  },
  {
    id: 2,
    image: AddLandAndFarmManager,
    title: "Add land and farm manager",
    desc: "Add your own land and farm manager or lease from our marketplace.",
  },
  {
    id: 3,
    image: GetMatchedToBuyer,
    title: "Get matched to a buyer",
    desc: "Get matched with a reliable buyer who perfectly suits your profile.",
  },
  {
    id: 4,
    image: FarmAndHarvest,
    title: "Farm and harvest",
    desc: "Farm and harvest with precision farming tools with support from our agronomists.",
  },
  {
    id: 5,
    image: SellAndGetPaid,
    title: "Sell and get paid",
    desc: "Get paid instantly after moving your yields to the nearest fulfilment centre.",
  },
];
---

<div class="w-full py-10 md:py-14 lg:py-20 bg-[#FAFAFA]">
  <div
    class="max-w-7xl flex flex-col px-6 py-0 my-0 md:pl-14 md:flex-row mx-auto lg:px-10"
  >
    <div
      class="relative sm:mb-10 lg:text-left sm:text-center sm:w-1/2 lg:w-1/2 xl:w-7/12 lg:mb-0 lg:pt-[100px] lg:px-16"
    >
      <div class="hidden sm:flex flex-col justify-start items-start gap-3">
        <p
          class="text-base sm:text-xl lg:text-2xl font-bold text-left text-grower-500 py-10"
        >
          GROWER PLATFORM ONBOARDING
        </p>
        <div
          id="onboarding-flow"
          data-current-index={0}
          class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-6"
        >
          <p
            id="title"
            class="w-96 text-[40px] lg:text-5xl font-bold text-left text-custom_black-900 leading-[30px] md:leading-[50px] lg:leading-[64px]"
          >
            {data[0].title}
          </p>
          <p
            id="desc"
            class={"mt-3 md:mt-0 md:text-base lg:leading-8 text-left lg:text-xl text-custom_black-900 "}
          >
            {data[0].desc}
          </p>
        </div>
      </div>
      <div class="flex sm:hidden flex-col justify-start items-start gap-3">
        <p class="text-sm font-bold text-left text-grower-500 py-0">
          GROWER PLATFORM ONBOARDING
        </p>

        <div class="flex flex-col justify-start sm:items-start gap-10 py-0">
          {
            data?.map((item, index) => (
              <>
                <div class="flex flex-col space-y-4">
                  <Image
                    src={item.image}
                    class="w-[141px] h-[100px]"
                    alt={item.title}
                  />
                  <div class="flex items-baseline space-x-3">
                    <span class="text-2xl font-bold text-left text-custom_black-900">
                      {index + 1}.
                    </span>

                    <div class="">
                      <p class="text-2xl font-bold text-left text-custom_black-900 pt-1 py-3 w-60">
                        {item.title}
                      </p>
                      <p class="text-base text-left xl:text-xl text-custom_black-900 break-all">
                        {item.desc}
                      </p>
                    </div>
                  </div>
                </div>
                <div class={`${index !== data.length - 1 && "border-b border-gray-200"}`} />
              </>
            ))
          }
        </div>
      </div>
      <div class="hidden sm:flex justify-start items-start mt-20 gap-6">
        <div
          role="button"
          id="previous-button"
          class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-2.5 p-3 rounded-full bg-gray-200 hover:cursor-pointer"
        >
          <ChevronIcon className="rotate-90" />
        </div>
        <div
          role="button"
          id="next-button"
          class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative overflow-hidden gap-2.5 p-3 rounded-full bg-[#efefef] hover:cursor-pointer"
        >
          <ChevronIcon className="-rotate-90" />
        </div>

        <div class="hidden sm:flex lg:hidden my-auto ml-6">
          <p class="text-grower-500 text-[20px] font-bold leading-6">
            <span id="numbering">{data[0].id}</span>
            <span>/</span>
            <span>{data?.length}</span>
          </p>
        </div>
      </div>
      <div
        class="hidden xl:flex justify-start items-start gap-10 mt-36 lg:-ml-16"
      >
        {
          data.map((item) => {
            return (
              <div class="flex-grow-0 flex-shrink-0 w-52 h-[69px] relative overflow-hidden">
                <div
                  class={`title-button flex justify-center items-start w-52 absolute left-0 top-0 gap-4 cursor-pointer ${
                    item.isActive ? "text-grower-500" : "text-custom_gray-300"
                  }`}
                >
                  <p class="flex-grow-0 flex-shrink-0 text-base font-bold text-left">
                    0{item.id}
                  </p>
                  <p class="flex-grow text-base font-bold text-left">
                    {item.title}
                  </p>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="hidden sm:flex lg:flex lg:justify-center sm:ml-8 lg:ml-0">
      {
        data.map((item) => (
          <Image
            src={item.image}
            class={`onboarding-flow-image sm:w-[325px] lg:w-96 lg:h-96 mt-36 object-contain ${
              !item.isActive ? "hidden" : ""
            }`}
            alt={item.title}
          />
        ))
      }
    </div>
  </div>
</div>

<script type="text/javascript" is:inline define:vars={{ data }}>
  const onboardingFlow = document.querySelector("#onboarding-flow");
  const prev = document.querySelector("#previous-button");
  const next = document.querySelector("#next-button");

  const titleButtons = document.querySelectorAll(".title-button");

  let currentIndex = Number(onboardingFlow.getAttribute("data-current-index"));

  prev.addEventListener("click", () => {
    if (currentIndex === 0) {
      currentIndex = 4;
    } else {
      currentIndex--;
    }
    scroll(currentIndex);
  });

  next.addEventListener("click", () => {
    if (currentIndex + 1 === data.length) {
      currentIndex = 0;
    } else {
      currentIndex++;
    }
    scroll(currentIndex);
  });

  titleButtons.forEach((button, index) => {
    button.addEventListener("click", () => {
      scroll(index);
    });
  });

  function scroll(index) {
    onboardingFlow.dataset.currentIndex = index;
    document.querySelector("#title").innerHTML = data[index].title;
    document.querySelector("#desc").innerHTML = data[index].desc;
    document.querySelector("#numbering").innerHTML = data[index].id;

    const images = document.querySelectorAll(".onboarding-flow-image");
    images.forEach((image) => {
      image.classList.remove("hidden");
      image.classList.add("hidden");
    });
    images[index].classList.remove("hidden");

    titleButtons.forEach((button) => {
      button.classList.remove("text-grower-500");
    });
    titleButtons[index].classList.add("text-grower-500");
    titleButtons[index].classList.remove("text-custom_gray-300");
  }
</script>
