---
import ImageQ1 from "@assets/images/products/grower/agent/qualification.webp";
import ImageQ2 from "@assets/images/products/grower/agent/qualification-tablet.webp";
import ImageQ3 from "@assets/images/products/grower/agent/qualification-mobile.webp";

import ImageR1 from "@assets/images/products/grower/agent/responsibilities.webp";
import ImageR2 from "@assets/images/products/grower/agent/responsibilities-tablet.webp";
import ImageR3 from "@assets/images/products/grower/agent/responsibilities-mobile.webp";

import ItemListing from "./ItemListing.astro";
import Images from "./Images.astro";
import { HeadingOneLine } from "@components/utils";
import { AGENT_RECRUITMENT_URL } from "@utils/constants";

const qualification = [
  "18 years and above with at least 1 year of practical experience in crop production.",
  "Minimum of SHS certificate or any other relevant certificate from a Ministry of Food and Agriculture accredited institution.",
  " Must be tech-savvy, a good communicator (verbal and written), and good with people management.",
  "We recommend that you have adequate fluency in the local language of your preferred operational area. The languages are Twi, Ewe,Bono, Dagbani, Frafra, Talene, and Sisala.",
  "Should own or have access to the following: A motorbike with a license. A smartphone.",
];
const responsibilities = [
  "Explore, identify, and engage farmers for a long-term business partnership with Complete Farmer.",
  "Meet operational targets by purchasing products from farmers.",
  "Liaise with the field supervisor to ensure that farmers are paid on time and receive a good price for their products.",
  "Undertake monthly reconciliation with the field supervisor.",
  "Ensure that farm inputs are dispatched to farmers on time.",
  "Ensure that farmers comply with the input support payback terms and conditions.",
  "Undertake weekly farm visits to ensure that farmers follow and comply with the farming protocols.",
  "Report and share crop development and farm management challenges with the field supervisor.",
];
---

<section class="2xl:bg-[#FAFAFA]">
  <div
    class="2xl:max-w-7xl mx-auto px-0 py-8 sm:px-10 md:py-16 lg:py-10 overflow-hidden 2xl:overflow-visible"
  >
    <div class="xl:pb-10">
      <HeadingOneLine
        titleTextColor="text-grower-900"
        title="About This Opportunity"
        desc="At Complete Farmer, we empower smallholder farmers with the tools and technology to increase their agricultural productivity while connecting them to global buyers. As one of our grower agents, you will work closely with these farmers by guiding them through implementing the technological solutions we provide on their farms"
      />
    </div>

    <div
      class="flex justify-center flex-col xl:flex-row-reverse items-center pb-5 xl:py-20 gap-10"
    >
      <Images image1={ImageQ1} image2={ImageQ2} image3={ImageQ3} right />
      <ItemListing
        data={qualification}
        title="Qualifications"
        description="Applicants will be considered for the grower agent role based on the following criteria:"
      />
    </div>

    <div
      class="flex justify-between flex-col xl:flex-row items-center py-5 xl:py-20 gap-10"
    >
      <Images image1={ImageR1} image2={ImageR2} image3={ImageR3} />
      <ItemListing
        data={responsibilities}
        title="Responsibilities"
        description="The Field Agent will be responsible for a range of duties which include, but are not limited to, the following:"
      />
    </div>
  </div>
</section>
