---
import { Image } from "astro:assets";

import Layouts from "@layouts/Layouts.astro";
import { BreadCrumb, PrismicText } from "@components/utils";
import { RelatedStories, NewsBlogDetailHeader } from "@components/resources";

import { getNews } from "@utils/prismic";
import { formatDateWithCommas } from "@utils/functions";

export async function getStaticPaths() {
  const newsApiData = await getNews({
    pageSize: 100
  });

  return newsApiData.results.map((news) => {
    return {
      params: { news: news?.uid },
      props: {
        news: {
          ...news,
          title: news?.data?.headline?.[0]?.text,
          date: formatDateWithCommas(news?.last_publication_date),
        },
        relatedNews: newsApiData.results.filter((n) => n.uid !== news.uid).slice(0, 4).map((n) => ({
          ...n,
          title: n?.data?.headline?.[0]?.text,
          date: formatDateWithCommas(n?.last_publication_date),
        }))
      },
    };
  });
}

const { news, relatedNews } = Astro.props;
---

<Layouts
  title={`${news.title} • News Room • Resources | Complete Farmer`}
  description={news?.data?.description?.[0]?.text || news?.title}
>
  <BreadCrumb
    href="/resources/news-room"
    title="Browse News"
    bgColor="bg-grower-400"
    textColor="text-grower-500"
  />

  <div
    class="flex flex-col justify-center items-center pt-6 lg:pt-20 space-y-16"
  >
    <NewsBlogDetailHeader data={news} client:only="react" />

    <div
      class="w-full h-[250px] lg:w-[1040px] sm:h-[400px] lg:h-[500px] md:h-[400px] rounded-md overflow-hidden"
    >
      <Image
        alt={news.title}
        src={news.data.image.url}
        width={news.data.image.dimensions.width}
        height={news.data.image.dimensions.height}
        class="w-96 h-[250px] sm:w-inherit sm:h-[400px] lg:h-[500px] object-cover"
      />
    </div>

    <section class="max-w-5xl mx-auto lg:px-36 space-y-10 text-left">
      {
        news.data?.description.length > 0 && (
          <PrismicText render={news.data.description} client:only="react" />
        )
      }
    </section>
  </div>

  <RelatedStories type="news" title="Related News" data={relatedNews} />
</Layouts>
