---
import "../assets/styles/global.css";
import {
  FACEBOOK_PIXEL_ID,
  GOOGLE_MEASUREMENT_ID,
  GOOGLE_TAG_MANAGER_ID,
} from "../utils/constants";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const {
  title,
  description,
  image = "https://i.imgur.com/im4nbOa.png",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:site" content="@completefarmer" />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Google tag (gtag.js) -->
<script
  async
  is:inline
  type="text/partytown"
  define:vars={{ GOOGLE_MEASUREMENT_ID }}
  src={`https://www.googletagmanager.com/gtag/js?id=${GOOGLE_MEASUREMENT_ID}`}
></script>
<script is:inline define:vars={{ GOOGLE_MEASUREMENT_ID }} type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  window.gtag = function () {
    dataLayer.push(arguments);
  };
  window.gtag("js", new Date());

  // Set Google Ads
  // window.gtag("config", "AW-<GOOGLE_ADS_ID>");

  window.gtag("config", GOOGLE_MEASUREMENT_ID);
</script>
<!-- End Google tag -->

<!-- Google Tag Manager -->
<script is:inline define:vars={{ GOOGLE_TAG_MANAGER_ID }} type="text/partytown">
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", GOOGLE_TAG_MANAGER_ID);
</script>
<!-- End Google Tag Manager -->

<!-- Meta Pixel -->
<script is:inline define:vars={{ FACEBOOK_PIXEL_ID }} type="text/partytown">
  !(function (f, b, e, v, n, t, s) {
    if (f.fbq) return;
    n = f.fbq = function () {
      n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments);
    };
    if (!f._fbq) f._fbq = n;
    n.push = n;
    n.loaded = !0;
    n.version = "2.0";
    n.queue = [];
    t = b.createElement(e);
    t.async = !0;
    t.src = v;
    s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s);
  })(
    window,
    document,
    "script",
    "https://connect.facebook.net/en_US/fbevents.js"
  );
  fbq("init", FACEBOOK_PIXEL_ID);
  fbq("track", "PageView");
</script>
<!-- End Meta Pixel -->

<script is:inline define:vars={{ GOOGLE_MEASUREMENT_ID }} type="text/partytown">
  function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(";");
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) === " ") {
        c = c.substring(1);
      }
      if (c.indexOf(name) === 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  window.addEventListener("load", function () {
    var isCookieConsentTrue = getCookie("CookieConsent") === "true";
    if (!isCookieConsentTrue) {
      // User has not given consent, disable Google Analytics
      window["ga-disable-" + GOOGLE_MEASUREMENT_ID] = true;
      console.log("Cookie Consent NOT given!");

      window.gtag("consent", "default", {
        ad_storage: "denied",
        analytics_storage: "denied",
      });
      fbq("consent", "revoke");
    } else {
      window.gtag("consent", "update", {
        ad_storage: "granted",
        analytics_storage: "granted",
      });
      fbq("consent", "grant");
    }
  });
</script>
