---
import BaseHead from "./BaseHead.astro";
import Header from "./Header.astro";
import Footer from "./Footer.tsx";
import CookieScreen from "./CookieScreen";

import { GOOGLE_TAG_MANAGER_ID, FACEBOOK_PIXEL_ID } from "@utils/constants";
import { getJobVacancies } from "@utils/prismic";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

const pathname = Astro.url.pathname;

const careerApiData = await getJobVacancies({ page: 1, pageSize: 1 });
const isHiring = careerApiData.results.length > 0;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        height="0"
        width="0"
        src={`https://www.googletagmanager.com/ns.html?id=${GOOGLE_TAG_MANAGER_ID}`}
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->

    <!-- Meta Pixel Code (noscript) -->
    <noscript
      ><img
        height="1"
        width="1"
        src={`https://www.facebook.com/tr?id=${FACEBOOK_PIXEL_ID}&ev=PageView&noscript=1`}
        style="display:none;visibility:hidden"
      />
    </noscript>
    <!-- End Meta Pixel Code (noscript) -->
    <Header pathname={pathname} />
    <main class="app-body">
      <slot />
    </main>
    <div class="app-footer">
      <Footer {isHiring} client:load pathname={pathname} />
    </div>
    <CookieScreen client:only="react" />
    <style>
      :global(html) {
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        :global(html) {
          scroll-behavior: auto;
        }
      }
    </style>

    <script type="text/javascript">
      const page_path =
        window.location.pathname + window.location.search + location.hash;
      window.gtag("event", "page_view", {
        page_path: page_path,
        page_title: window.document.title,
      });

      window.fbq("track", "PageView", {
        content_category: "Pages",
        content_name: window.document.title,
      });
    </script>
  </body>
</html>
