---
import { TwoLeavesIcon } from "@assets/icons";
import { classNames } from "@utils/functions";
import { Image } from "astro:assets";

interface Props {
  type?: "grower" | "buyer";
  data: {
    name: string;
    imageUrl: string;
    image: {
      dimensions: { width: number; height: number };
      url: string;
    };
    titleFirstName: string;
    titleLastName?: string;
    titleTextColor: string;
  };
}

const { type = "grower", data } = Astro.props;

const colors = {
  buyer: {
    bgColor: "bg-buyer-800",
    textColor: "text-buyer-500",
  },
  grower: {
    bgColor: "bg-grower-800",
    textColor: "text-grower-500",
  },
};

const { bgColor, textColor } = colors[type];
---

<div
  class={classNames(
    bgColor,
    "py-8 px-0 sm:py-8 sm:px-8 lg:py-20 lg:px-20 w-full max-w-7xl[x] flex-col items-center rounded-2xl"
  )}
>
  <div class="mx-auto max-w-7xl w-full">
    <div class="flex flex-col items-center md:justify-between">
      <div class="flex items-center flex-col">
        <TwoLeavesIcon
          className={classNames(textColor, "w-6 h-6 lg:w-auto lg:h-auto")}
        />
        <div
          class="relative mx-auto flex max-w-7xl flex-col items-center px-6 py-4 sm:mt-4 md:mt-6 text-center text-[28px] sm:py-2 lg:px-0 sm:mb-10"
        >
          <h1
            class={classNames(
              data.titleTextColor,
              "text-base sm:text-[24px] lg:text-[28px] lg:leading-[48px] sm:leading-8 tracking-tight"
            )}
          >
            {data.titleFirstName}
            <br class="hidden sm:block" />
            {data.titleLastName}
          </h1>
        </div>
      </div>
      <div class="flex items-center mt-4 md:mt-0">
        <Image
          class="w-10 h-10 sm:w-12 sm:h-12 object-cover rounded-full mr-4"
          alt={data.name}
          src={data?.image.url}
          width={data?.image.dimensions.width}
          height={data?.image.dimensions.height}
        />
        <div class="flex items-start flex-col">
          <h3
            class="text-base lg:text-[28px] md:text-xl font-semibold text-white"
          >
            {data.name}
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
